<div class="conteiner text-center w-75">
 <h1>iniciar Secion</h1>
 <form asp-action="Login" asp-controller="Auth" method="past" class="mt-5">
 <div class="form group mt-5"
 <label for="correo">correo</label>
 <input type="email" class="form-controll" id="correo" name="correo"
 </div>
 <div class="form-group mt-5">
 <label for="contrase単a">contrase単a</label>
 <input type="passworrd" class="form-control" name="contrase単a" id="contrase単a">
 </div>
 <button type="submit" class="btn btn-primary mt-5">Iniciar secion</button>
 </form>
